In [2]:
# import data.dat

import numpy as np 
import pandas as pd

# pandas data frame
data = pd.read_csv('data_dup.dat', sep='/=', header = None, skipinitialspace=False, names =['value','name'])
data

# make a duplicate of data to edit and protect original document

df = data.copy()

/Users/emilytoney/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  import sys

In [42]:
# Split value column into arrays by receiver and satellite information 

# split df (nums_data = numerical data ONLY)
nums_data = df['value']
pd.to_numeric(nums_data).astype('float64')

# array values: pi, c (speed of light), R (radius of earth), s (length of sidereal day)
rec = nums_data[0:4].to_numpy()
rec

# sat_i: u1, u2, u3, v1, v2, v3, periodicity, altitude, phase

sat_0 = nums_data[4:13].to_numpy()
sat_1 = nums_data[13:22].to_numpy()
sat_2 = nums_data[22:31].to_numpy()
sat_3 = nums_data[31:40].to_numpy()
sat_4 = nums_data[40:49].to_numpy()
sat_5 = nums_data[49:58].to_numpy()
sat_6 = nums_data[58:67].to_numpy()
sat_7 = nums_data[67:76].to_numpy()
sat_8 = nums_data[76:85].to_numpy()
sat_9 = nums_data[85:94].to_numpy()
sat_10 = nums_data[94:103].to_numpy()
sat_11 = nums_data[103:112].to_numpy()
sat_12 = nums_data[112:121].to_numpy()
sat_13 = nums_data[121:130].to_numpy()
sat_14 = nums_data[130:139].to_numpy()
sat_15 = nums_data[139:148].to_numpy()
sat_16 = nums_data[148:157].to_numpy()
sat_17 = nums_data[157:166].to_numpy()
sat_18 = nums_data[166:175].to_numpy()
sat_19 = nums_data[175:184].to_numpy()
sat_20 = nums_data[184:193].to_numpy()
sat_21 = nums_data[193:202].to_numpy()
sat_22 = nums_data[202:211].to_numpy()
sat_23 = nums_data[211:220].to_numpy()

sat_23

array([ 5.00000000e-01, -8.66025404e-01,  0.00000000e+00,  4.96731765e-01,
        2.86788218e-01,  8.19152044e-01,  4.30820450e+04,  2.02000000e+07,
        9.71238898e+00])

In [70]:
# Rest of data files for trips

# trip to b12 in one step 
b12_data = pd.read_csv('b12.dat', sep=' ', header = None) #, skipinitialspace=False, names =['value','name'])
b12_list = b12_data.values.tolist()
b12 = b12_list[0]
b12

# trip to B12 in one step at time 0 
b12_t0_data = pd.read_csv('b12t0.dat', sep=' ', header = None) #, skipinitialspace=False, names =['value','name'])
b12_t0_list = b12_t0_data.values.tolist()
b12t0 = b12_t0_list[0]
b12t0

# trip to Black Mountain in 90 steps
bm_data = pd.read_csv('bm.dat', sep=' ', header = None) #, skipinitialspace=False, names =['value','name'])
bm_data_list = bm_data.values.tolist()
bm = bm_data_list[0]
bm

# trip to north pole in 15 steps
np_data = pd.read_csv('np.dat', sep=' ', header = None) #, skipinitialspace=False, names =['value','name'])
np_data_list = np_data.values.tolist()
np = np_data_list[0]
np

# trip to south pole in 15 steps
sp_data = pd.read_csv('sp.dat', sep=' ', header = None) #, skipinitialspace=False, names =['value','name'])
sp_data_list = sp_data.values.tolist()
sp = sp_data_list[0]
sp

# trip to point O in 9 steps
o_data = pd.read_csv('np.dat', sep=' ', header = None) #, skipinitialspace=False, names =['value','name'])
o_data_list = o_data.values.tolist()
o = o_data_list[0]
o

[152.3, 152.3, 15.0, 90.0, 0.0, 0.0, 1.0, 150.0, 0.0, 0.0, 1.0, 0.0]